
# Installez moviepy
pip3 install moviepy

# Installez opencv-python
pip3 install opencv-python

# Installez speech_recognition
pip3 install SpeechRecognition

# Installez nltk
pip3 install nltk

# Installez transformers (pytorch-transformers)
pip3 install transformers

# Installez reportlab
pip3 install reportlab
